
.logoimg {
    height: 100px;
}
.logo {
    vertical-align: middle;
    height: 128px;
    margin-left: 40px;
}
.title {
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 2px #48daff;
}
.wrapper header {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: flex-start;
    align-items: center;

}
.point {
    vertical-align: middle;
    height: 258px;
    text-align: center;
}
.pointimg {
    height: 250px;
}

.img {
    height: 500px;
}
nav {
    background: #48daff;
    width: 100%;
    
}
.list {
    display: flex;
    justify-content: space-around;  
}
.list li {
    list-style: none;
    padding: 10px;
    border: 1px solid transparent;
}
.list li:hover {
    border: 3px solid rgb(255, 255, 255);
}
.list li a { 
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    }
.submenu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #48daff;
    padding: 10px;
    border: 1px solid #ccc;
    }
.submenu:hover ul {
   display: block;
    }
.submenu {
    position: relative;
        }
main {
    display: flex;
}
.left {
    width: 20%;
    background-color: #f7b9b9;
    font-size: 18px;
    text-align: justify;
}
.list1 {
    font-size: 20px;
}
.question {
    text-align: center;
    color: #303436;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.answer {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;
}
.picture {
    margin-top: 40px;
    width: 800px;
    height: 500px;
}
.right {
    width: 80%;
    padding-left: 25px;
    background-color: #f8d9d9;
}
.article {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
footer {
    background: #48daff;
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #ffffff;
    width: 100%;
}
h2 {
    padding: 0;
    margin: 0;
}
.button {
    background-color: #48daff;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; 
}
.plate {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.text {
    font-size: 60px;
    margin-right: 10px;
    font-weight: 900;
    color: white;
    text-align: center;
}
li {
    line-height: 30px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.task {
text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
#result {
    text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: bold;      
}
.correct {
    color: green;
    text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: bold;
}
.incorrect {
    color: red;
    text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px; 
        font-weight: bold;
}
.middle {
    color: rgb(255, 157, 0);
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.hidden {
    display: none;
}
.blk {
    display: block;
}
#btn1 {
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
}
.opend {
    background-color: #48daff;
}
#get_answer {
    background-color: #48daff;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        display: inline-block;
        margin: 4px 2px;
        border-radius: 8px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
}
#title {
text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
#view_answer {
    background-color: #48daff;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        display: inline-block;
        margin: 4px 2px;
        border-radius: 8px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
}
#next_question {
    background-color: #48daff;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        display: inline-block;
        margin: 4px 2px;
        border-radius: 8px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
}
#answer {
    text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
}
